<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.fps.springjbehave.dao.StoreMapper">

	<select id="selectStores" resultType="store">
		SELECT * 
		  FROM stores
	</select>
	
	<select id="selectStore" resultType="store">
		SELECT * 
		  FROM stores 
		 WHERE storeId = #{storeId}
	</select>
	
</mapper>